:root {
  --body-bold-font-family: "Poppins-Bold", Helvetica;
  --body-bold-font-size: 13px;
  --body-bold-font-style: normal;
  --body-bold-font-weight: 700;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 139.9999976158142%;
  --body-font-family: "Poppins-Regular", Helvetica;
  --body-font-size: 13px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: 0px;
  --body-line-height: 139.9999976158142%;
  --caption-font-family: "Poppins-Regular", Helvetica;
  --caption-font-size: 11px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0px;
  --caption-line-height: 139.9999976158142%;
  --foundation-bluelight: rgba(231, 239, 255, 1);
  --foundation-bluenormal: rgba(13, 98, 255, 1);
  --h3-bold-font-family: "Poppins-Bold", Helvetica;
  --h3-bold-font-size: 33px;
  --h3-bold-font-style: normal;
  --h3-bold-font-weight: 700;
  --h3-bold-letter-spacing: 0px;
  --h3-bold-line-height: 139.9999976158142%;
  --h5-font-family: "Poppins-Light", Helvetica;
  --h5-font-size: 21px;
  --h5-font-style: normal;
  --h5-font-weight: 300;
  --h5-letter-spacing: 0px;
  --h5-line-height: 100%;
  --title-1-bold-font-family: "Poppins-Bold", Helvetica;
  --title-1-bold-font-size: 19px;
  --title-1-bold-font-style: normal;
  --title-1-bold-font-weight: 700;
  --title-1-bold-letter-spacing: 0px;
  --title-1-bold-line-height: 139.9999976158142%;
  --title-1-font-family: "Poppins-Regular", Helvetica;
  --title-1-font-size: 19px;
  --title-1-font-style: normal;
  --title-1-font-weight: 400;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: 139.9999976158142%;
  --title-2-font-family: "Poppins-Regular", Helvetica;
  --title-2-font-size: 16px;
  --title-2-font-style: normal;
  --title-2-font-weight: 400;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 139.9999976158142%;
}
